/* --- /frontend_react/src/App.module.css --- */
.appLayout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary); /* Usa la variable global */
}
